#dashboard-cont{
	margin-top: 12rem;
}

.dashboard-cont{
	display: flex;
	padding: 1rem 1.5rem;
	align-items: center;
	justify-content: center;
}

.dashboard{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1170px;
}

.search-info-cont{
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-engine-cont{
	display: flex;
	width: 50%;
}

.search-btn{
	position: absolute;
	display: flex;
	align-self: center;
	background-color: transparent;
	border: none;
	border-radius: 20px;
	padding: 10px 12px;
	cursor: pointer;
	transition: 0.3s;
	z-index: 1;
	order: 1;
}

.search-icon, .filter i, .advanced-search i{
	transition: 0.3s;
	color: #636d74;
	font-size: 1rem;
}

.search-input{
	order: 2;
	width: 100%;
	display: flex;
	position: relative;
	outline: none;
	border: 1px solid transparent;
	width: 100%;
	font-size: 1rem;
	font-family: "Poppins",sans-serif;
	padding: 8px;
	padding-left: 2.5rem;
	border-radius: 20px;
	background-color: #f2f2f2;
	transition: 0.3s;
}

.inputField{
	width: 100%;
	outline: none;
	border: 1px solid transparent;
	width: 100%;
	font-size: 1rem;
	font-family: "Poppins",sans-serif;
	padding: 8px;
	border-radius: 20px;
	background-color: #f2f2f2;
	transition: 0.3s;
}

.search-input::placeholder, .inputField::placeholder{
	color: #636d74;
}

.search-input:focus, .inputField:focus{
	border: 1px solid #BE6526;
	background-color: transparent;
	box-shadow: 0 0 2px #BE6526;
}

.search-input:focus + .search-btn > .search-icon{
	color: #BE6526;
}

.search-config-cont{
	display: flex;
	align-items: center;
	margin-left: 1.5rem;
}

.add-contact-btn, .advanced-search-cont{
	margin-right: 1.5rem;
}

.adv-search-form-cont{
	position: absolute;
	display: none;
	justify-content: center;
	width: 350px;
	/* max-width: 100%; */
	transform: translate(-10rem, 6.5rem);
}

.adv-search-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.adv-search-form-fields{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.adv-search-title-cont h1{
	font-size: 1.2rem;
	color: #000;
}

.inputField-cont{
	display: flex;
	margin-bottom: 1.5rem;
}

.sub-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border: 1px solid transparent;
	border-radius: 5px;
	width: 100%;
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	font-family: "Poppins", sans-serif;
	background-color: #BE6526;
	transition: 0.3s;
}

.sub-btn:hover{
	color: #BE6526;
	border: 1px solid #BE6526;
	box-shadow: 0 0 2px #BE6526;
	background-color: transparent;
}

.add-contact-btn a{
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1rem;
	color: #fff;
	background-color: #BE6526;
	border: 1px solid transparent;
	user-select: none;
	padding: 8px 12px;
	transition: 0.3s
}

.add-contact-btn a:hover{
	color: #BE6526;
	border: 1px solid #BE6526;
	background-color: transparent;
	box-shadow: 0 0 2px #BE6526;
}

.filter{
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
}

.filter-cont, .filter-list, .advanced-search-cont, .contacts-table-cont{
	display: flex;
	flex-direction: column;
}

.filter, .advanced-search{
	cursor: pointer;
}

.filter i, .advanced-search i{
	font-size: 2rem;
}

.filter i:hover,.advanced-search i:hover{
	color: #BE6526;
}

.filter-cont, .advanced-search-cont{
	position: relative;
}

.filter-list-cont{
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	width: 200px;
	transform: translateY(1rem);
	z-index: 1;
}

.advanced-search-cont > .filter-list-cont{
	transform: translate(-5rem, 2rem);
}

.filter-list{
	width: 100%;
	list-style: none;
	padding: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	background-color: #fff;
	border-radius: 5px;
}

.filter-list li{
	cursor: pointer;
	display: flex;
	padding: 8px;
	color: #636d74;
	user-select: none;
	transition: 0.3s;
}

.filter-list li:first-child{
	border-radius: 5px 5px 0 0;
}

.filter-list li:last-child{
	border-radius: 0 0 5px 5px;
}

.advanced-search-cont > .filter-list-cont li{
	border-radius: 5px;
	justify-content: center;
}

.filter-list li:hover{
	color: #fff;
	background-color: #BE6526;
}

.contacts-cont{
	display: flex;
	margin-top: 5rem;
	padding: 1rem 1.5rem;
	align-items: center;
	justify-content: center;
}

.contacts-table-cont{
	width: 100%;
}

.header-cont{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.myMessage-header{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 5px 0 0;
	padding: 8px;
	height: 3.1rem;
	margin-left: 11px;
	background-color: #636d74;
}

.deleteAll-cont{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 2.3rem;
	background-color: red;
	border-radius: 5px;
	color: #fff;
	padding: 0 8px;
	cursor: pointer;
	transition: 0.3s;
	border: none;
	outline: none;
	margin-right: 10px;
	margin-bottom: 8px;
	user-select: none;
}

.myMessage-header h1, .myMessage-header span, .deleteAll-cont h1{
	font-family: montserrat, sans-serif;
}

.myMessage-header h1, .deleteAll-cont h1{
	font-size: 1rem;
	font-weight: 500;
}

.deleteAll-cont h1{
	padding-left: 4px;
}

.myMessage-header span{
	font-weight: bold;
	font-size: 0.8rem;
	margin-left: 8px;
	padding: 0 4px;
}

table{
	width: 100%;
}

table, tr, th{
	border: 1px solid #636d74;
	border-collapse: collapse;
}

tr:last-child td{
	border: 0 solid #fff;
}

th{
	font-family: montserrat, sans-serif;
	background-color: #636d74;
}

td{
	padding: 8px;
	background-color: #fff;
	text-align: center;
	transition: 0.3s;
	color: #000;
}

.text{
	line-height: 1.5rem;
}

tr td{
	cursor: pointer;
}

tr:hover td{
	color: #fff;
	background-color: #636d74
}

tr:hover td a i{
	color: #fff;
	/* background-color: #636d74 */
}

th .checkbox{
	margin-left: 0.9rem;
	text-align: center;
}

.checkbox{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	-webkit-appearance: none;
	border: 2px solid #aaa;
	outline: none;
	border-radius: 3px;
	padding: 14px;
	cursor: pointer;
	transition: 0.3s;
}

.checkbox:checked{
	border: 2px solid #0CFC00;
	background-color: #0CFC00;
}

.checkbox:checked:after{
	content: "";
	top: 5px;
	border-color: #fff;
	border-style: solid;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	width: 5.5px;
	height: 14px;
	color: #fff;
	font-size: 1.3rem;
	font-weight: bold;
	position: absolute;
}

th .checkbox{
	text-align: center;
	padding: 11px;
}

th .checkbox:checked:after{
	top: 2px;
	width: 4.5px;
	height: 12px;
}

.fa-pencil{
	transition: 0.3s;
	color: #007cc2;
}

.content-title-cont{
	display: inline-flex;
	position: relative;
}

td .fa-trash{
	border-radius: 3px;
	padding: 6px 8px;
	background-color: red;
	cursor: pointer;
	color: #fff;
	font-size: 1rem;
	transition: 0.3s;
}

td .fa-trash:focus{
	box-shadow: inset 0 10px 14px rgb(0 0 0 / 45%);
}

.content-title-cont > .content-title, .deleteAll-cont > .content-title{
	display: flex;
	top: -2.2rem;
	right: -8px;
	font-size: 12px;
	padding: 6px 8px;
	opacity: 0;
	justify-content: center;
	align-items: center;
	position: absolute;
	white-space: nowrap;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	border-radius: 5px;
	z-index: 1;
	transition: 0.3s;
	user-select: none;
}

.deleteAll-cont > .content-title{
	/* display: none; */
	font-size: 15px;
	top: -2.4rem;
	right: 18.5px;
	cursor: default;
	user-select: none;
}

.content-title-cont > .content-title:after, .deleteAll-cont > .content-title:after{
	content:"";
	top: 100%;
	left: 45%;
	border-width: 5px;
	border-style: solid;
	position: absolute;
	border-color: rgba(0,0,0,0.8) transparent transparent transparent;
}

td .fa-trash:hover + .content-title, .deleteAll-cont:hover .content-title{
	opacity: 1;
}

.deleteAll-cont .content-title:hover{
	opacity: 0;
}