<footer>
	
	<div class="footer-cont">
		<div class="footer">
		
			<div class="copyright-cont">
				<h4>&copy; 2021 <a href="https://glacial-atoll-14823.herokuapp.com/">MJ Solutions</a></h4>
			</div>
			
			<a href="/" class="footer-logo-cont">
				<img src="/Images/contact-manager.png" class="footer-logo">
			</a>
		
		</div>
	</div>

</footer>

<script src="/JS/index.js"></script>

<% if(req.url === '/create-account') { %>
	<script src="/JS/form-val.js"></script>
<% }else if(req.url === '/login' || req.url === '/login/') { %>
	<script src="/JS/authentication.js"></script>
<% } %>