<nav>
	
	<div class="nav-cont" id="nav-cont">
	
		<div class="nav">
		
			<a href="/" class="logo-title-cont">
			
				<div class="logo-cont">
					<img src="/Images/contact-manager.png" class="logo">
				</div>
				
				<div class="title-cont">
					<h1>Contact-Manager</h1>
				</div>
			
			</a>
			
			<div class="get-started-cont">
			
				<div class="sign-up-cont">
					<a href="/create-account">Get Started</a>
				</div>
				
				<div class="login-cont">
					<a href="/login">Login</a>
				</div>
			
			</div>
		
		</div>
	
	</div>

</nav>