<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/contact-manager.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<% if(req.url === "/") { %>
	<link rel="stylesheet" href="/CSS/index.css">
	<link rel="stylesheet" href="/CSS/index-mobile.css">
<% }else if(req.url === "/create-account" || req.url === "/login" || req.url === "/login/") { %>
	<link rel="stylesheet" href="/CSS/register.css">
	<link rel="stylesheet" href="/CSS/register-mobile.css">
<% } else if(req.url.search("/dashboard") !== -1) { %>
	<link rel="stylesheet" href="/CSS/dashboard.css">
	<link rel="stylesheet" href="/CSS/dashboard-mobile.css">
<% } else if(req.url === "/add" || req.url.search("/edit") !== -1) { %>
	<link rel="stylesheet" href="/CSS/create-contact.css">
	<link rel="stylesheet" href="/CSS/create-contact-mobile.css">
<% } %>
<link rel="stylesheet" href="/header/CSS/header.css">
<link rel="stylesheet" href="/header/CSS/header-mobile.css">
<link rel="stylesheet" href="/footer/CSS/footer.css">
<link rel="stylesheet" href="/footer/CSS/footer-mobile.css">
<% if (req.url === "/") { %>
	<title> Home | Contact-Manager </title>
<% }else if(req.url === "/create-account") { %>
	<title>Create account | Contact-Manager</title>
<% } else if(req.url === "/login" || req.url === "/login/") { %>
	<title>Log in | Contact-Manager</title>
<% } else if(req.url.search("/dashboard") !== -1) { %>
	<title> Dashboard | Contact-Manager </title>
<% } else if(req.url === "/add") { %>
	<title> Create-Contact | Contact-Manager </title>
<% } %>
</head>