<!DOCTYPE html>
<html lang="en-US">
<%- include("partials/head-info"); -%>
<body>

	<%- include("partials/header"); -%>
	
	<section id="intro-section">
		
		<div class="intro-section-cont">
			
			<div class="intro-section">
				
				<div class="intro-section-title-cont">
					<h1>Easily manage your contacts with Contact-Manager</h1>
				</div>
				
				<div class="intro-section-descript-cont">
					<p> Contact Manager is the platform that makes the managing of your contacts a whole lot easier.
					With Contact Manager, you can create, edit and delete contacts. Start managing your contacts for free today
					with Contact-Manager.</p>
				</div>
				
				<div class="intro-section-btn-cont">	
					<a href="/create-account">Get Started</a>
				</div>
				
			</div>
			
		</div>
		
	</section>
	
	<%- include("partials/footer"); -%>

</body>
</html>