<!DOCTYPE html>
<html lang="en-US">
<%- include("partials/head-info"); -%>
<body>

	<%- include("partials/header"); -%>
	
	<section id="register">
		
		<div class="register-cont">
			<div class="register-box-cont">
				<div class="register-box">
					
					
						<div class="user-exists-cont">
							<div class="user-exists">
								<span> 
									Invalid login attempt
							   </span>
							</div>
						</div>
					
					
					<div class="register-box-title">
						<h1>Login</h1>
					</div>
					
					<form method="POST" action="/login" class="register-form">

						<div class="inputField-cont">
							<input type="email" placeholder="Email" class="inputField" id="email" name="email">
							<span class="err-msg"></span>
						</div>
					
						<div class="inputField-cont">
							<input type="password" placeholder="Password" class="inputField" id="pwd" name="pwd">
							<span class="err-msg"></span>
						</div>
						<div class="sub-btn-cont">
							<input type="submit" value="Log in" class="sub-btn" id="sub-btn">
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</section>
	
	<%- include("partials/footer") -%>
</body>
</html>