<!DOCTYPE html>
<html lang="en-US">
<%- include("partials/head-info"); -%>
<body>

	<%- include("partials/header"); -%>
	
	<section id="register">
		
		<div class="register-cont">
			<div class="register-box-cont">
				<div class="register-box">
					
					<div class="register-box-title">
						<h1>Sign Up</h1>
					</div>
					
					<form method="POST" action="/create-account" class="register-form">
						
						<div class="inputField-cont">
							<input type="email" placeholder="Email" class="inputField" id="email">
							<span class="err-msg"></span>
						</div>
						
						<div class="inputField-cont">
							<input type="password" placeholder="Password-Should have more than 6 characters" class="inputField" id="pwd">
							<span class="err-msg"></span>
						</div>
						
						<div class="sub-btn-cont">
							<input type="submit" value="Submit" class="sub-btn" id="sub-btn">
						</div>
						
					</form>
				</div>
			</div>
		</div>
		
	</section>
	
	<%- include("partials/footer") -%>
</body>
</html>